#video-mockup {
    cursor: pointer;
    height: 380px;
    transition: transform 0.5s ease; 
}

#video-mockup:hover {
    transform: translateY(-10px);
}

@media (max-width: 781px) {
    #video-mockup {
        display: none;
    }
}