.form-group {
    display: grid;
}

.form-group input {
    width: 90vh;
    height: 40px;
    margin: 10px 0;
    border: 3px solid var(--color-2);
}

.form-group textarea {
    border: 3px solid var(--color-2);
}

#form-message {
    height: 80px;
}

.form-button {
    margin-top: 18px;
}

.form-button button {
    padding: 10px 40px;
}

@media (max-width: 781px) {
    .form-group input {
        width: 45vh;
        height: 40px;
    }
    
    #form-message {
        height: 70px;
    }
    
}