.center-content {
    width: 2px;
    height: 55vh;
    background-color: var(--color-2);
}

.form-content {
    display:grid;
}

#icons-content {
    display: flex;
    gap: 3rem;
}

#icons-content i {
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    transition: 0.5s; 
}

#icons-content i:hover {
    transform: translateX(-8px);
    color: var(--color-3);
}

.form-group {
    display: grid;
}

.form-group input {
    width: 90vh;
    height: 40px;
    margin: 10px 0;
}

#form-message {
    height: 80px;
}

.form-button {
    margin-top: 18px;
}

.form-button button {
    padding: 10px 40px;
}


@media (max-width: 781px) {
    .center-content {
        display: none;
    }
}