.center-content {
    width: 2px;
    height: 55vh;
    background-color: var(--color-2);
}

#icons-content {
    display: flex;
    gap: 3rem;
}

#icons-content i {
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    transition: 0.5s; 
}

#icons-content i:hover {
    transform: translateX(-8px);
    color: var(--color-3);
}

@media (max-width: 781px) {
    .center-content {
        display: none;
    }

    #icons-content {
        justify-content: center;
        align-items: center; 
    }    
}