@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-1: #F7F7F8;
    --color-2: #1E201E;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section {
    margin: 4rem 2.5rem;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

.class-top,
.class-bottom,
.right-content {
    display: flex;
}

.class-top {
    align-items: center;
    justify-content: space-between; 
}

.left-content > * {
    margin: 20px 1rem;
}

.left-content p {
    font-size: 20px;
}

.right-content {
    margin: 0 1rem;
    height: 380px;
}

.button {
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    border: 3px solid var(--color-2);
    background-color: var(--color-2);
    color: var(--color-1);
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}

@media (max-width: 781px) {
    .class-bottom {
        flex-direction: column;
        align-items: center;
    }
}