@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-1: #F7F7F8;
    --color-2: #1E201E;
    --color-3: rgb(85, 84, 84);
    --color-4: rgb(153, 152, 152);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
}

section {
    margin: 6rem 2.5rem;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--color-2);
}

.class-top,
.class-bottom,
.right-content {
    display: flex;
}

.class-top {
    align-items: center;
    justify-content: space-between; 
}

.left-content > * {
    margin: 20px 1rem;
}

.left-content p {
    font-size: 20px;
}

.right-content {
    margin: 0 1rem 0 5rem;
}

.button {
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    border: 3px solid var(--color-2);
    background-color: var(--color-2);
    color: var(--color-1);
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}

.button:active {
    box-shadow: 0 0 10px 5px rgba(84, 165, 165, 0.7); 
}

@media (max-width: 781px) {
    section {
        margin: 3rem 2.5rem;
    }

    h1 {
        font-size: 40px;
    }

    .class-top {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .left-content > * {
        margin: 20px 0;
    }

    .right-content {
        margin: 0 1rem;
    }

    .class-bottom {
        flex-direction: column;
        align-items: center;
    }
}