footer {
    background-color: var(--color-2); 
    color: var(--color-1);
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content:space-around; 
}

.footer-section {
    flex: 1;
    max-width: 200px;
    padding: 0 15px;
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 781px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .footer-section h4 {
        margin-bottom: 5px;
    }

    .footer-section ul li {
        margin-bottom: 3px;
    }
}