.mobile-screen {
    cursor: pointer;
    transition: transform 0.5s ease; 
    height: 70vh;
    margin: 0 20px;
}

.mobile-screen:hover {
    transform: translateY(-10px);
}

.block-services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 60vh;
    width: 45vh;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.5s ease; 
    cursor: pointer;
}

.services-content:hover {
    transform: translateY(-10px);
}

.services-content select {
    height: 30px;
    border-radius: 5px;
}

.services-content label {
    color: var(--color-4);
}

.services-content button{
    background-color: white;
    border: 2px solid var(--color-2);
    height: 30px;
}

@media (max-width: 781px) {
    .block-services {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
