:root {
    --color-services-1: #7C93C3;
    --color-services-2: #55679C;
    --color-services-3: #1E2A5E;
}

.mobile-screen {
    cursor: pointer;
    transition: transform 0.5s ease; 
    height: 70vh;
    margin: 0 20px;
}

.mobile-screen:hover {
    transform: translateY(-10px);
}

.block-services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services-content {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 45vh;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.services-content:hover {
    transform: translateY(-10px);
}

.services-header {
    text-align: center;
}

.services-content h3 {
    margin: 10px 0;
    text-align: center;
}

.services-content select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.services-content label {
    color: var(--color-4);
    margin: 20px 0 0 20px;
}

.services-content button {
    background-color: white;
    border: 3px solid var(--color-2);
    border-radius: 5px;
    height: 40px;
    margin-top: auto;
    cursor: pointer;
    color: var(--color-2);
    font-weight: 600;
}

.services-content.active:nth-child(1) .services-header,
.services-content.active:nth-child(1) button {
    background-color: var(--color-services-1);
    border-radius: 5px;
    color: white;
}

.services-content.active:nth-child(2) .services-header,
.services-content.active:nth-child(2) button {
    background-color: var(--color-services-2);
    border-radius: 5px;
    color: white;
}

.services-content.active:nth-child(3) .services-header,
.services-content.active:nth-child(3) button {
    background-color: var(--color-services-3);
    border-radius: 5px;
    color: white;
}

.services-content.active hr {
    background-color: white;
}

.services-content.active button {
    color: white;
    border: solid 3px white;
}

#undraw-image {
    height: 230px;
    width: 240px;
    margin: auto auto 0 auto;
}

.services-content select option:hover {
    background-color: var(--color-services-2);
    color: #000000; 
}

@media (max-width: 781px) {
    .block-services {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-screen {
        display: none;
    } 
}